:root{
    --color1: #112B2E;
    --color2: #A3775E;
    --color3: #C9A489;
    --color4: #D7B89B;
    --color5: #E8CEAF;
    --color6: #FFFBFA;
}

.containerPrincipal{
    background-color: var(--color6);
}

.containerDatos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 20px;
    
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.contacto h2 {
    font-size: 45px;
}

.telefono, .mail{
    background-color: var(--color6);
    color: #112B2E;
    font-size: 16px;
    text-decoration: none;
}

.telefono:hover, .mail:hover{
    color: var(--color2);
}


.containerMapa{
    width: 30%;
    height: 500px;
}




.containerFormulario{
    display: flex;
    justify-content: center;
}