:root{
    --color1: #112B2E;
    --color2: #A3775E;
    --color3: #C9A489;
    --color4: #D7B89B;
    --color5: #E8CEAF;
    --color6: #FFFBFA;
}

p{
    color: black;
}

a{
    background-color: #112B2E;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.logo-icone{
    height: 200px;
    margin: 0 auto;
    
}


.img-logo-icone{
    width: 70%;
    margin-top: 30px;
    margin-left: 30px;
}


.boton{
    width: 150px;
}

.boton-nosotros{
    width: 150px;
    margin: 0 auto;
}

.presupuesto{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color:var(--color3);
    
}

.contacta-nosotros{
    padding: 10px;
    width: 150px;
}

.contenido{
    padding: 40px;
}

.main{
    margin: 0 auto;
}

.banner{
    height: 450px;
}

.img-banner{
    height: 450px;
}

.container-ult-obras{
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container-item{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.img-ultimas-obras{
    width: 300px;
}

.container-ult-obras p{
    text-align: center;
    vertical-align: middle;
}