
:root{
    --color1: #112B2E;
    --color2: #A3775E;
    --color3: #C9A489;
    --color4: #D7B89B;
    --color5: #f5ece2;
    --color6: #FFFBFA;
}

.containerPrincipal{
    background-color: var(--color6);
    padding-top: 200px;
}

.containerPrincipal h1{
    text-align: center;
    padding: 15px 0;
    margin-bottom: 15px;
}

.containerObras{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.casa{
    display: flex;
    width: 49%;
}

.imageCasa{
    width: 100%;
    height: auto;
    margin: 5px;
}

@media(max-width: 619px){
.containerPrincipal{
    padding-top: 20px;
}

}