:root{
    --color1: #112B2E;
    --color2: #A3775E;
    --color3: #C9A489;
    --color4: #D7B89B;
    --color5: #f5ece2;
    --color6: #FFFBFA;
}



.fundo{
    background-color: var(--color6);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.titulo{
    text-align: center;
    font-family: "CircularStd";
    font-weight: 800;
    margin-top: 30px;
}

.row{
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.rowIcone{
    background-color: var(--color5);
    padding-top: 15px;
}

.containerIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerParrafo{
    width: 60%;
}

.containerOficina{
    width: 35%;
    margin: auto 0;
}
.parrafo{
    display: flex;
    padding: 15px;
}


.imageOficina{
    display: flex;
    width: 100%;
    height: auto;
}



.icone{
    width: 50px;
    height: 50px;
}



.mapa{
    display: flex;
    background-image: url("../Components/images/espana.png");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}

.containerMapa{
    width: 40%;
    height: auto;
}

.containerActuacion{
    width: 50%;
    height: auto;
}




@media (max-width: 765px){
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

   .containerParrafo{
    width: 100%;
    }

    .containerOficina{
        width: 100%;
        margin: auto 0;
    }
    .containerMapa{
    width: 80%;
    height: auto;
    }

    .containerActuacion{
        width: 100%;
        height: auto;
    }
}