:root{
    --color1: #112B2E;
    --color2: #A3775E;
    --color3: #C9A489;
    --color4: #D7B89B;
    --color5: #E8CEAF;
    --color6: #FFFBFA;
}


.logo{
    height: 80px;
}


.active{
    color: var(--color2);
}


header, footer{
    /* position: absolute; */
    width: 100%;
    background-color: var(--color1);
    padding: 10px;
}

.menu-topo{
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    
}

.footer{
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}


.item{
    flex-grow: 1;
}

.enlaces{
    display: flex;
    flex-grow: 2;
}


.pagina{
    text-align: center;
    font-size: 46px;
}

p{color: #fff;}

.nav-link {
    color: #fff;
}

h5{
    color: #9a6c48;
}

span{
    color: #fff;
}

.icons{
    width: 50px;
    color: #fff;
}

.img-banner{
    
    width: 100%;
}

.main{
    background-color: #fff;
}