.logo{
    height: 80px;
}

.navbar{
    background-color: #112B2E;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28154, 108, 72, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.active{
    color:  #9a6c48
}




.link{
    color: #fff;
}

header, footer{
    /* position: absolute; */
    width: 100%;
    background-color: #112B2E;
    padding: 10px;
}

.menu-topo{
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    
}

.footer{
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}



.menu-topo-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    
}



a{
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}

a:hover{
    color:  #9a6c48;
}

.item{
    flex-grow: 1;
}

.enlaces{
    display: flex;
    flex-grow: 2;
}


.pagina{
    text-align: center;
    font-size: 46px;
}

p{color: #fff;}

.nav-link {
    color: #fff;
}

h5{
    color: #9a6c48;
}

span{
    color: #fff;
}

.icons{
    width: 50px;
    color: #fff;
}

