:root{
    --color1: #112B2E;
    --color2: #A3775E;
    --color3: #C9A489;
    --color4: #D7B89B;
    --color5: #E8CEAF;
    --color6: #FFFBFA;
}

.leaflet-container{
    width: 100%;
    height: 400px;
    z-index: 0;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom{
    z-index: 0;
}


.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: none;
}

.leaflet-bar a.leaflet-disabled {
    cursor: default;
    background-color: var(--color1);
    color: var(--color2);
}

.leaflet-bar a {
    background-color: var(--color1);
    color: var(--color2);
}