:root{
    --color1: #112B2E;
    --color2: #A3775E;
    --color3: #C9A489;
    --color4: #D7B89B;
    --color5: #E8CEAF;
    --color6: #FFFBFA;
}


.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28154, 108, 72, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    text-align: end;
}

.link{
    color: var(--color6);
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.link:hover{
    color:  #9a6c48;
}

.topo-fijo{
    position: fixed;
    margin-top: 100px;
    display: flex;
    justify-content: end;
    background-color:var(--color1);
}

.navbar-nav{
    justify-content: center;
    flex-direction: column;
}

.nav-item{
    text-align: start;
}