:root{
  --font1: 'TitilliumWeb-SemiBold';
  --font2: 'TitilliumWeb-Regular';
  --font3: 'TitilliumWeb-Bold';
  --font4: 'TitilliumWeb-Black';
  --font5: 'CircularStd-Medium';
  --font6: 'CircularStd-Book';
  --font7: 'CircularStd-Bold';
  --font8: 'CircularStd-Black';
}

body {
  margin: 0;
  font-family: 'CircularStd-Book',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font3), source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
